<template>
  <div id="app">
    <MonacoEditor
      height="300"
      width="1200"
      language="javascript"
      :code="code"
      :editorOptions="options"
      @mounted="onMounted"
      @codeChange="onCodeChange"
    >
    </MonacoEditor>
    <button @click="onClick">Execute</button>
    <br />
    <br />
    <br />
    Output:
    <br />
    <textarea></textarea>
  </div>
</template>

<script>
import MonacoEditor from "vue-monaco-editor";

export default {
  name: "App",
  data() {
    return {
      options: {
        selectOnLineNumbers: true,
      },
      code: "//hello world?\nfunction hello() {\n  console.log('hello world');\n}",
    };
  },
  methods: {
    onClick() {
      console.log(this.editor.getValue());
    },
    onMounted(editor) {
      this.editor = editor;
    },
    onCodeChange() {
      console.log(this.editor.getValue());
      console.log("code changed");
    },
  },
  components: {
    MonacoEditor,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
